body {
    background-color:black;
}

.user-btn {
    width: 75px;
    height: 75px;
    border-radius: 50% ;
    background-color: aqua;
}

#helloWorld {
    width: 500px;
    font-size:x-large;
    padding-top: 20px;
    padding-left: 2px;
    color: chartreuse;
}